html {
  height: 100%;

  overflow: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: linear-gradient(to right, black 25%, #1d1515, black 75%);
  display: grid;
  justify-items: center;
  perspective: 600px;
  perspective-origin: center center;
  display: grid;
  grid-template-columns: 1fr;
}

.box {
  background: linear-gradient(to right, white 70%, #b9b0b0);
  width: 500px;
  height: 300px;
  transform-style: preserve-3d;
  transform: translateX(-50%) rotateY(55deg);
  transform-origin: right center;
  font-family: Impact, sans-serif;
  font-weight: bold italic;
  font-size: 5em;
  overflow: hidden;
}

.box div {
  padding: 0;
  width: fit-content;
  height: fit-content;
  // text-align: right;
}

.box-inner {
  transform: rotateY(-65deg); // cancels the parent's rotation
  padding: 0 2rem;
  align-items: left;
  align-content: left;
  align-items: flex-end;
  margin: 0 0 80px 0;

  // your text styles here
}

.box-inner2 {
  transform: rotateY(-65deg); // cancels the parent's rotation
  padding: 0 2rem;
  align-items: right;
  align-content: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 80px;
}

.k-inner {
  margin: 0 0 0 180px;
}
.title {
  font-size: 250px;
}

.subtitle {
  font-size: 20px;
}

.header {
  font-size: 150px;
  position: relative;
}

.header2 {
  text-align: right;
  align-content: right;
  font-size: 150px;
}

.header3 {
  font-size: 150px;
  position: relative;
}

.header4 {
  text-align: right;
  align-content: right;
  font-size: 150px;
}

.header5 {
  font-size: 150px;
  position: relative;
}

.header6 {
  text-align: right;
  align-content: right;
  font-size: 150px;
}

.header7 {
  font-size: 100px;
  position: relative;
}

.header::before {
  content: "";
  background-image: url("../Links/pawn.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  width: 410px;
  height: 410px;

  top: -50px;
  left: -320px;
  // transform: ;
}

.header2::after {
  content: "";
  background-image: url("../Links/knight.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  width: 380px;
  height: 380px;

  top: -60px;
  right: -300px;
  // transform: ;
}

.header3::before {
  content: "";
  background-image: url("../Links/rook.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  width: 410px;
  height: 410px;

  top: -90px;
  left: -320px;
  // transform: ;
}

.header4::after {
  content: "";
  background-image: url("../Links/bishop.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  width: 300px;
  height: 300px;

  top: -5px;
  right: -270px;
  // transform: ;
}

.header5::before {
  content: "";
  background-image: url("../Links/queen.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  width: 320px;
  height: 320px;

  top: -5px;
  left: -250px;
  // transform: ;
}

.header6::after {
  content: "";
  background-image: url("../Links/king.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  width: 280px;
  height: 280px;

  top: 0px;
  right: -250px;
  // transform: ;
}

.img {
  width: 20px;
}

.text {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 {
  font-size: 25px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

// .box-nth-child(odd) {
//   background: linear-gradient(to right, white 70%, #b9b0b0);
//   transform: translateX(-50%) rotateY(65deg);
//   transform-origin: right center;
// }

.box2 {
  background: linear-gradient(to left, white 70%, #b9b0b0);
  transform: translateX(50%) rotateY(-65deg);
  transform-origin: left center;
  width: 500px;
  height: 300px;
  transform-style: preserve-3d;
  font-family: Impact, sans-serif;
  font-weight: bold italic;
  font-size: 5em;
  justify-content: flex-end;
  overflow: hidden;
}

.box2 .box-inner {
  transform: rotateY(65deg);
}

// .fin {
//   font-family: Georgia, "Times New Roman", Times, serif;
//   font-weight: bold italic;
// }
